doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    script(src='./js/frontend.js')
    script(src="https://www.gstatic.com/firebasejs/3.0.5/firebase.js")
    script.
      var config = {
      apiKey: "AIzaSyCsWqdmhM8CGtprWuwhde2aQxrAD-RMecw",
      authDomain: "test-8436c.firebaseapp.com",
      databaseURL: "https://test-8436c.firebaseio.com",
      storageBucket: "test-8436c.appspot.com",
      };
      firebase.initializeApp(config);
      var test = firebase.database().ref('test-8436c');
      console.log(test);
